### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule strona-glowna index.html
RewriteRule umiejetnosci umiejetnosci.html
RewriteRule aplikacje-typu-crud aplikajcetypucrud.html
RewriteRule aplikacje-kbe aplikacjekbe.html
RewriteRule gry-2d gry2d.html
RewriteRule kontakt kontakt.html
