### PROTECT FILES ###
<FilesMatch "\.(htaccess|htpasswd|ini|fla|psd|log|sh)$">
Order Allow,Deny
Deny from all
</FilesMatch>

RewriteEngine on
RewriteRule stronaglowna index.html
RewriteRule umiejetnosci umiejetnosci.html
RewriteRule aplikacjetypucrud aplikajcetypucrud.html
RewriteRule aplikacjekbe aplikacjekbe.html
RewriteRule gry2d gry2d.html
RewriteRule kontakt kontakt.html
