.screenshot {
  display: block;
  width: 100%;
  max-width: 800px;
  margin: 20px auto;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  transition: transform 0.3s ease;
}

.clickable:hover {
  cursor: pointer;
}

.zoomed {
  transform: scale(1.8);
  z-index: 9999;
  position: relative;
}