<div class="content">

    <h1>Umiejętności:</h1>

    <h2>Języki oraz technologie, z którymi pracuję dłuższy czas i które dobrze znam:</h2>

    <ul>
        <li>
            <strong>Java</strong> – mój ulubiony język programowania. Skupiam się głównie na funkcjonalnościach 
            wprowadzonych w wersjach 8+. 
            Jego nauka jest dla mnie priorytetem, gdyż wiążę z nim swoją przyszłość zawodową.
        </li>

        <li>
            <strong>Bazy danych</strong> – pracuję głównie z relacyjnymi bazami danych: <strong>MySQL, PostgreSQL, MS Access</strong>. 
            Projektuję bazy składające się z kilkudziesięciu tabel. 
            Potrafię:
            <ul>
                <li>tworzyć tabele i relacje między nimi,</li>
                <li>używać JOIN-ów,</li>
                <li>dodawać, aktualizować i usuwać rekordy,</li>
                <li>tworzyć zapytania (kwerendy).</li>
            </ul>
            Miałem również styczność z <strong>MS SQL</strong> i <strong>Oracle</strong>, językami (T-SQL, PL/SQL) oraz 
            posiadam wiedzę o bazach <strong>NoSQL (MongoDB)</strong>.
        </li>

        <li>
            <strong>Git / GitHub</strong> – znam podstawy pracy w konsoli systemowej. 
            Umiem pracować zarówno na pojedynczym, jak i na wielu branchach oraz tworzyć Pull Requesty. Swoje commity zamieszczam 
            na głównym branchu za pomocą rebase’a (preferuję to rozwiązanie zamiast merge). 
            Potrafię m.in.:
            <ul>
                <li>dodawać pliki,</li>
                <li>commitować,</li>
                <li>korzystać z <code>stash</code>, <code>git clean</code>, <code>git reset</code> i wielu innych,</li>
                <li>pracować na wielu branchach,</li>
                <li>tworzyć Pull Requesty.</li>
            </ul>
            Praca z gitem nie stanowi dla mnie żadnego kłopotu.
        </li>

        <li>
            <strong>Hibernate</strong> – potrafię mapować relacyjne bazy danych (relacje OneToOne, OneToMany, ManyToMany), 
            używam JPQL, stosuję blokowanie danych, cache'owanie oraz batch'owanie. 
            Korzystam zarówno z DAO, jak i Spring Data JPA.
        </li>

        <li>
            <strong>Spring</strong> – mój ulubiony framework. Regularnie tworzę w nim nowe aplikacje. 
            Znam wiele jego modułów, m.in.:
            <ul>
                <li>Spring Boot,</li>
                <li>Spring Security,</li>
                <li>Spring Web,</li>
                <li>Spring Mail Sender,</li>
                <li>Spring Scheduling,</li>
                <li>Spring AOP,</li>
                <li>Spring Data JPA,</li>
                <li>Spring Validation,</li>
                <li>Spring Liquibase.</li>
            </ul>
        </li>

        <li>
            <strong>Clean Code</strong> – piszę czysty i przejrzysty kod zgodnie z zasadami <strong>KISS, SOLID, DRY</strong>. 
            Dbam o zrozumiałe nazewnictwo klas i metod (w języku angielskim).
        </li>

        <li>
            <strong>Testowanie aplikacji</strong> – piszę testy jednostkowe i integracyjne. Uczę się techniki <strong>TDD</strong>, 
            ponieważ uważam, że prowadzi do lepiej napisanego kodu.
        </li>

        <li>
            <strong>Angular</strong> – ukończyłem 30-godzinny kurs Spring + Angular. Umiem napiać w nim proste strony internetowe,
            frontend dla aplikacji backendowych (zarówno prostych CRUDów jak i zdecydowanie bardziej złożonych), przeprowadzać 
            walidację wprowadzonych danych w formularzach itp. Znam i często stosuję biblioteki typu: Angular Material, 
            Angular FlexLayout. Obecnie uczę się bezpieczeństwa w Angularze, np. Angular Guard, obsługi tokenów JWT oraz
            dodawania animacji/wykresów.
        </li>

        <li>
            <strong>TypeScript / JavaScript</strong> – preferuję <strong>TypeScript</strong> ze względu na jego podobieństwo do Javy. 
            Używam głównie w Angularze, ale uczę się również czystego JavaScriptu.
        </li>

        <li>
            <strong>HTML oraz CSS / SCSS</strong> – znam podstawy, które pozwalają mi tworzyć schludne i czytelne strony internetowe.
        </li>

        <li>
            <strong>Maven</strong> – używam głównie do zarządzania zależnościami. Czasami korzystam także z <strong>Gradle</strong>.
        </li>

        <li>
            <strong>REST API</strong> – znam jego główne cechy, poziomy zaawansowania i wykorzystuję w aplikacjach backendowych.
        </li>

        <li>
            <strong>Projekt Lombok</strong> – korzystam z tej biblioteki w celu redukcji boilerplate kodu.
        </li>
    </ul>

    <h2>Pozostałe języki oraz technologie, z którymi mam lub miałem styczność:</h2>

    <ul>
        <li>
            <strong>JSON</strong> – używam przy tworzeniu aplikacji backendowych jako formatu wymiany danych.
        </li>

        <li>
            <strong>C++</strong> – język, w którym poznałem podstawy programowania (pętle, instrukcje warunkowe, tablice, listy, funkcje). 
            Obecnie rzadko go używam.
        </li>

        <li>
            <strong>Visual Basic</strong> – miałem z nim styczność na studiach, ale nie należy do moich ulubionych technologii. 
            Poza projektami akademickimi już z niego nie korzystam.
        </li>
    </ul>

    <div style="clear:both"></div>
</div>
