<div class="content">
    <h1> Witaj na mojej stronie</h1>

    <p>Znajdziesz tutaj informacje o mnie oraz o zrealizowanych przeze mnie projektach. Dowiesz się też, jak zaczęła się
        moja przygoda
        z programowaniem.</p>

    <h2>Moja przygoda z programowaniem:</h2>

    <h3>Pierwsze kroki w programowaniu.</h3>

    <p> Po raz pierwszy zetknąłem się z programowaniem na studiach.
        Nauczyłem się wtedy podstaw C++ (instrukcje warunkowe, pętle, tablice, listy itp.).
        W języku Java zacząłem pisać pod koniec 2018 roku. Powtórzyłem sobie zdobyte wcześniej wiadomości
        i napisałem pierwsze aplikacje okienkowe. Programowanie stało się moim hobby.</p>

    <p>Na większą skalę zająłem się programowaniem w 2020 roku. Na studiach miałem przedmiot poświęcony bazom danych.
        Zacząłem się nie tylko uczyć baz danych i języka SQL, ale też pisać aplikacje połączone z bazami danych.
        Jednocześnie rozwijałem swoje umiejętności w samym programowaniu i zrozumiałem podejście obiektowe.</p>

    <p>W 2021 roku napisałem pracę przejściową pt. "System rejestracji obłożenia sal wykładowych oraz pracy
        wykładowców".
        Była to moja pierwsza większa aplikacja typu CRUD.
        <a href="https://github.com/KawaJava/Portiernia-2021"> <span style="color: #4668b3">Link</span></a>
        do zmodyfikowanej wersji tego programu.
        Oprócz tego napisałem kilka aplikacji inżynierskich, połączonym z programem SolidWorks.
    </p>

    <p>W 2022 roku obroniłem na ocenę bardzo dobrą pracę dyplomową inżynierską. Jej tematem była aplikacja inżynierska
        wspomagająca
        proces projektowania przekładni zębatych. Aplikacja była bardzo rozbudowana i połączona z programem SOLIDWORKS,
        w którym można było wygenerować model 3D zaprojktowanej skrzyni. Opisałem ją dokładnie w
        <a href="aplikacjekbe"> <span style="color: #4668b3">Aplikacje KBE</span></a>.
    </p>

    <h3>Czy zostać programistą?</h3>

    <p>Decyzję o przekwalifikowaniu się na programistę podjąłem jednak kilka miesięcy po ukończeniu studiów.
        Na początku 2023 roku ukończyłem kurs Git od Podstaw autorstwa Kamila Brzeźińskiego. Nauczyłem się z niego
        profesjonalnej pracy
        z gitem oraz poznałem narzędzia typu GiHub czy Jira.
    </p>

    <p>Następnie uznałem, że chciałbym docelowo zostać Fullstack Developerem, jednak postanowiłem zacząć od backendu -
        Javy i Springa. Przez kilka miesięcy przerabiałem różne kursy, poszerzając swoją wiedzę i umiejętności. Pa za
        samym językiem
        pogłębiałem swoją wiedzę o "otoczkę" typu Spring, Hibernate, SQL, testy jednostkowe itp. Poznałem także zasady
        pisania czystego kodu (KISS, SOLID, DRY itp.). Interesuję się metodą TDD, którą chcę wdrożyć do tworzenia swoich
        aplikacji. Przez cały ten czas napisałem wiele aplikacji, z których część jest na moim GitHubie.
    </p>

    <h3>Nie tylko backend.</h3>

    <p>Następnie, po poznaniu backendu, zainteresowałem się frontendem oraz Angularem, który najbardziej przypadł mi do gustu.
        ukończyłem kurs tworzenia aplikacji webowych w Javie, Springu i Angularze Mateusza Dąbrowskiego. Dzięki temu mogłem
        napisać aplikacje frontendowe do moich wcześniejszych programów Javowych. Pisanie całościowych rozwiązań daje mi mnóstwo
        frajdy i docelowo chciałbym pracować jako Fullstack developer, zgodnie z tym, co założyłem wcześniej.
    </p>

    <h3>Staż/pierwsza praca.</h3>

    <p>We wrześniu 2024 roku dostałem się na staż do startupu. Ukończyłem szkolenie, które miało na celu przygotowanie mnie
        do pracy z mikroserwisami, kafką, dockerem itp. Od listopada miałem zostać outsourcingowany do innej firmy i zacząć pracę
        jako Junior Java Developer. Niestety, firma wycofała się z polskiego rynku i ostatecznie nie rozpocząłem pracy. Jednak
        pod okiem mentora rozszerzyłem swoje umiejętności w wymienionych wyżej technologiach oraz dowiedziałem się, jak wygląda praca 
        programisty (Sprinty, Code Review, spotkania z klientami, itp.).
    </p>

    <h3>Ostatnie miesiące.</h3>

    <p>Od tamtego czasu szlifuję głównie wiedzę z Javy oraz technologii frontendowych - HTML5, CSS3 czy JS. Rozwijam cały czas
        swoją najlepszą aplikację - MMOEstateManager. Po za programowaniem ukończyłem kursy dotyczące automatyzacji i obsługi ChataGPT,
        który bardzo pomaga zwiększyć efektywność nauki oraz pisania czystego kodu.
    </p>

    <h3>Plany na przyszłość.</h3>

    <p>Obecnie szukam pracy na dowolnym stanowisku - chętnie podejmę się programowania backendu, frontendu lub całości - fullstack.
        chciałbym szybko awansować i zostać seniorem. Docelowo mam zamiar zostać Team Leaderem. Jestem  osobą ciepłą i solidną. 
        Zawsze staram się wykonywać zadania dokładnie oraz je kończyć, nim rozpocznę kolejne (jeśli się da oczywiście). 
        Można na mnie polegać. Już w szkołach byłem często wybierany na przewodniczącego klasy czy skarbnika. W grach komputerowych
        typu World of Tanks, w które grają głównie dorośli ludzie, także byłem wybierany na stanowiska dowódcze. Jestem jednak osobą,
        która chce się uczyć i słuchać bardziej doświadczonych od siebie.  
        Jestem pewien, że mogę wnieść bardzo dużo do firmy i zespołu, w którym będę pracował.

    </p>
    <div style="clear:both"></div>
</div>