<div class = "content">
    <h1> Witaj na mojej stronie</h1>

    <p>Znajdziesz tutaj informacje o mnie oraz o zrealizowanych przeze mnie projektach. Dowiesz się też, jak zaczęła się moja przygoda
        z programowaniem.</p>

    <h2>Moja przygoda z programowaniem</h2>

    <p> Po raz pierwszy zetknąłem się z programowaniem na studiach. 
        Nauczyłem się wtedy podstaw C++ (instrukcje warunkowe, pętle, tablice, listy itp.).
        W języku Java zacząłem pisać pod koniec 2018 roku. Powtórzyłem sobie zdobyte wcześniej wiadomości
        i napisałem pierwsze aplikacje okienkowe. Programowanie stało się moim hobby.</p>

    <p>Na większą skalę zająłem się programowaniem w 2020 roku. Na studiach miałem przedmiot poświęcony bazom danych. 
        Zacząłem się nie tylko uczyć baz danych i języka SQL, ale też pisać aplikacje połączone z bazami danych. 
        Jednocześnie rozwijałem swoje umiejętności w samym programowaniu i zrozumiałem podejście obiektowe.</p>

    <p>W 2021 roku napisałem pracę przejściową pt. "System rejestracji obłożenia sal wykładowych oraz pracy wykładowców". 
        Była to moja pierwsza większa aplikacja typu CRUD. 
        <a href="https://github.com/KawaJava/Portiernia-2021"> <span style = "color: #4668b3">Link</span></a> 
        do zmodyfikowanej wersji tego programu. 
        Oprócz tego napisałem kilka aplikacji inżynierskich, połączonym z programem SolidWorks.</p>

    <p>W 2022 roku obroniłem na ocenę bardzo dobrą pracę dyplomową inżynierską. Jej tematem była aplikacja inżynierska wspomagająca 
        proces projektowania przekładni zębatych. Aplikacja była bardzo rozbudowana i połączona z programem SOLIDWORKS,
        w którym można było wygenerować model 3D zaprojktowanej skrzyni. Opisałem ją dokładnie w 
        <a href="aplikacjekbe"> <span style = "color: #4668b3">Aplikacje KBE</span></a>.</p>

    <p>Decyzję o przekwalifikowaniu się na programistę podjąłem jednak kilka miesięcy po ukończeniu studiów. Zacząłem uczyć się
        profesjonalnego wykorzystania języka i "otoczki" m.in. Springa, Hibernate'a testów itp.  </p>

    <p>Poznałem zasadamy pisania czystego kodu (KISS, SOLID, DRY itp.).
        Staram się pisać kod o wysokiej jakości i dbać o jego przejrzystość, czytelność oraz zrozumiałość dla innych programistów.
        Interesuję się metodą TDD, którą chcę wdrożyć do tworzenia swoich aplikacji.</p>


    <div style="clear:both"></div>
</div>
