$color-primary: #006993;
$color-primary-light: #3095d3;
$color-secondary: #0098D5;
$color-hover-text: #451717;
$color-border: white;
$color-footer-text: darkgrey;
$nav-height: 40px;
$font-size-base: 18px;