<div class = "nav">
    <ol>
        <li><a routerLink="">Strona główna</a></li>
        <li><a routerLink="umiejetnosci">Umiejętności</a></li>
        <li><a routerLink="">Zrealizowane projekty (Java)</a>
            <ul>
                <li><a routerLink="aplikacjewebowe">Aplikacje webowe</a></li>
                <li><a routerLink="aplikacjekbe">Aplikacje KBE</a></li>
                <li><a routerLink="gry2d">Gry 2D</a></li>
                <li><a routerLink="starszeprojekty">Starsze projekty</a></li>
            </ul>
        </li>

        <li><a routerLink="kontakt">Kontakt</a></li>
    </ol>
</div>
